@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
.clearfix:after{ height:0; display:block; content:'.'; visibility:hidden; clear:both;}
ul,li,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,form,label{display:block;}
ul{list-style:none;}
a{ text-decoration:none;}
img{border:0;}
.ellipsis{white-space: nowrap;/*空白不换行*/ text-overflow:ellipsis; overflow:hidden;}
a:hover{color:red;}
body{font-size:14px;}
.none{
	display:none;
}
