.wrap_header .header{
	width:100%;
	margin:0 auto;
	background:#333333;
	position:relative;
}
.wrap_header .header .logo{
	width:25.2%;
	float:left;
	padding:3.1% 0 1% 1.5%;
}
.wrap_header .header .logo img{
	width:100%;
}
.wrap_header .header nav,
.wrap_header .header .word{
	display:none;
}
.wrap_header .word{
	display:block;
	position:absolute;
	color:#fff;
	font-size:1em;
	top:35%;
	left:50%;
}
.wrap_header .header .menu-click{
	width:7%;
	position:absolute;
	top:15px;
	right:3%;
}
.wrap_header .header .menu-click img{
	width:100%;
}
.menu-total{
	width:100%;
	/*z-index:1000;*/
	float:right;
	position:relative;
}
.menu-total li{
	height:30px;
	line-height:30px;
	background:#5C5C5C;
	width:25%;
	float:left;
	text-align:center;
}
.menu-total li a{
	font-size:0.75em;
	color:#DCDCDC;
	font-family:"microsoft yahei";
}
.menu-total li a{
	font-size:0.75em;
	color:#DCDCDC;
	font-family:"microsoft yahei";
}
.wrap_header .menu-total li:nth-of-type(7) a{
	width:85%;
	display:inline-block;
	background:#85858D;
}
/*header结束*/

/*.main开始*/
.main{
	padding:0 15px;
	margin:0 auto;
}
.main .left{
	width:100%;
	margin:0 auto;
}
.main .left h2 a{
	display:block;
	width:25%;
	text-align:center;
	padding-top:80px;
	margin-bottom:30px;
	float:left;
	height:77px;
	line-height:77px;
	font-size:18px;
	color:#222;
	font-family:"microsoft yahei";
	font-weight:normal;
	border-bottom:3px solid #fff;
}
.main .left h2 span{
	display:none;
}
.main .left h2:nth-of-type(1) a{
	background:url(../images/service_03.jpg) no-repeat center 45px;
	
}
.main .left h2:nth-of-type(2) a{
	background:url(../images/service_06.jpg) no-repeat center 40px;
	border-bottom:3px solid #fa9634;
}
.main .left h2:nth-of-type(3) a{
	background:url(../images/service_08.jpg) no-repeat center 45px;
}
.main .left h2:nth-of-type(4) a{
	background:url(../images/service_10.jpg) no-repeat center 45px;
}

.main .right{
	padding-right:1.1%;
	padding-left:4%;
	width:100%;
	float:right;
}

.main .right h4{
	line-height:30px;
	color:#fa9634;
	font-family:"microsoft yahei";
	font-size:18px;
	margin-top:18px;
}
.main .right h4:nth-of-type(1){
	margin-top:0;
}
.main .right h4:nth-of-type(2){
	margin-right:12px;
}
.main .right h4 span{
	display:inline-block;
	font-size:16px;
	color:#222;
	font-family: "microsoft yahei";
	font-weight:normal;
} 	　
.main .right h5,.main .right h6{
	margin-top:10px;
	height:30px;
	line-height:30px;
	font-size:16px;
	color:#222222;
	font-family:"microsoft yahei";
}　	　　

.main .right p:last-of-type{
	margin-top:9px;
	margin-bottom:100px;
}
.main .right ul{
	margin-top:18px;
}
.main .right ul li{
	margin-top:20px;
}
.main .right ul li:nth-of-type(1){
	margin-top:0;
}
.main .right p{
	line-height:36px;
	font-size:16px;
	color:#222;
	font-family:"microsoft yahei";
	margin-top:9px;
}
.main .right{
	padding-bottom:40px;
}
.main .sep{
	font-weight:bold;
	margin-top:10px;
	height:30px;
	line-height:30px;
	font-size:16px;
	color:#222222;
	font-family:"microsoft yahei";
}
.main .right h6{
	color:#000000;
}

/*footer开始*/
.wrap-footer .footer{
	padding:5% 4%;
	width:92%;
	margin:0 auto;
	background:#333333;
	padding-bottom:40px;
}
.wrap-footer ul li{
	width:80%;
	margin-bottom:3%;
	margin-left:20%;
}
.wrap-footer ul li:nth-of-type(4){
	width:100%;
	margin-left:0;
	text-align:center;
	margin-bottom:3%;
}
.wrap-footer ul li p{	
	font-size:1em;
	color:#eafefd;
	font-family:"microsoft yahei";
	height:30px;
	line-height:30px;
}






