.wrap_header .header{
	width:100%;
	margin:0 auto;
	background:#333333;
	position:relative;
}
.wrap_header .header .logo{
	width:25.2%;
	float:left;
	padding-left:1.5%;
	padding-top:1.1%;
}
.wrap_header .header .logo img{
	width:100%;
}
.wrap_header .header nav{
	display:none;
}
.wrap_header .word{
	display:block;
	position:absolute;
	color:#fff;
	font-size:1.125em;
	top:20px;
	left:50%;
}
.wrap_header .header .menu-click{
	width:6%;
	position:absolute;
	top:15px;
	right:3%;
}
.wrap_header .header .menu-click img{
	width:100%;
}
.menu-total{
	width:100%;
	/*z-index:1000;*/
	float:right;
	position:relative;
}
.menu-total li{
	height:30px;
	line-height:30px;
	background:#5C5C5C;
	width:12.5%;
	float:left;
	text-align:right;
	text-align:center;
}
.menu-total li a{
	font-size:14px;
	color:#DCDCDC;
	font-family:"microsoft yahei";
}
.menu-total li a{
	font-size:0.75em;
	color:#DCDCDC;
	font-family:"microsoft yahei";
}
.wrap_header .menu-total li:nth-of-type(6) a{
	width:85%;
	display:inline-block;
	background:#85858D;
}
/*header结束*/
/*.main开始*/
body{
	position: relative;
}
.container{
	padding:0 15px;
	margin:0 auto;
	margin-top:30px;
}
.container .main{
	width:100%;
	padding-bottom:20px;
}
.main h2,h3{
	text-align:center;
}
.main h2{
	height:30px;
	line-height:30px;
	font-size:30px;
	color:#000;
	font-family:"microsoft yahei";
}
.main h3{
	margin-top:19px;
	font-size:24px;
	color:#888888;
	font-family:"microsoft yahei";
	font-weight:normal;
	margin-bottom:57px;
}
.main ul>li{
	width:32%;
	margin-right:2%;
	float:left;
	margin-bottom:1%;
	cursor:pointer;
	text-align:center;
}
.main ul li div{
	padding:10px;
	position:fixed;
	top:20%;
	left:8%;
	width:80%;
	display:none;
	z-index:100000;
	background:#5C5C5C;
	border-radius:10px;
	box-shadow:0 0 10px #FFFFFF;
}
.container ul li.hover div{
	display:block;
}
.container ul li.hover::after{
	content: '';
	display:block;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.5;
	position: absolute;
	top: 0;
	left: 0;
}
.main ul li:nth-of-type(3n){
	margin-right:0;
}
.main ul li p span{
	display:none;
}
.main ul li img{
	width:100%;
}
.main ul li p:nth-of-type(1){
	margin-top:16px;
	line-height:24px;
	font-size:14px;
	color:#DCDCDC;
	font-family:"microsoft yahei";
	text-indent:28px;
	text-align:left;
}
.main ul li h4{
	margin-top:5px;
	font-size:18px;
	color:#DCDCDC;
	font-family:"microsoft yahei";
	font-weight:bold;
	text-align:left;
}
.main ul li p:nth-of-type(2){
	line-height:25px;
	color:#DCDCDC;
	font-family:"microsoft yahei";
	text-align:left;
}

/*footer开始*/
.wrap-footer .footer{
	padding:5% 4%;
	padding-bottom:2%;
	width:92%;
	margin:0 auto;
	background:#333333;
}
.wrap-footer ul li{
	float:left;
	width:45%;
	margin-bottom:3%;
}
.wrap-footer ul li:nth-of-type(2n){
	width:55%;
}
.wrap-footer ul li p{	
	font-size:0.75em;
	color:#eafefd;
	font-family:"microsoft yahei";
	height:30px;
	line-height:30px;
}
.menu-lesson,.menu-work,.menu-star,.menu-job{
	display:block;
}
#job-top,#job-bottom,#star-top,#star-bottom,#works-bottom,#works-top,
#lesson-bottom,#lesson-top{
	display:none;
}