.wrap_header div{
	width:100%;
	background:#333333;
	margin:0 auto;
}
.wrap_header .header .menu-click,
.wrap_header .header .word,
.wrap_header .header .menu-total{
	display:none;
}
.wrap_header div .logo{
	width:23.5%;
	float:left;
	padding-left:1.5%;
	padding-top:1.1%;
}
.wrap_header div nav{
	width:74.2%;
	float:left;
}

.wrap_header div nav ul li{
	width:12.5%;
	float:left;
	height:80px;
	line-height:80px;
	text-align:center;
	
	transition:all .5s ease;
}
.wrap_header div ul li a{
	display:inline-block;
	font-size:1em;
	color:#fefcff;
	font-family:"microsoft yahei";
}
.wrap_header div nav ul li:nth-of-type(1){
	width:10.4%;
}
.wrap_header .header nav ul li:nth-of-type(3){
	background:#5C5C5C;
}
/*header结束*/
/*.main开始*/
.container{
	padding:0 15px;
	margin:0 auto;
	margin-top:30px;
}
.container .main{
	width:100%;
}
.container .main .left{
	width:30.5%;
	padding-right:1.5%;
	float:left;
	border-right:1px solid #bbbbbb;
	margin-bottom:93px;
}
.main .left h2{
	padding-left:25.1%;
	height:77px;
	line-height:77px;
	border-bottom:3px solid #fff;
}
.main .left h2 span:nth-of-type(2){
	display:none;
}
.main .left h2:first-of-type span:nth-of-type(2){
	display:inline-block;
}
.main .left h2 a{
	display:block;
	font-size:24px;
	color:#222;
	font-family:"microsoft yahei";
	font-weight:normal;
}
.main .left h2:nth-of-type(6) span,.main .left h2:nth-of-type(8) span{
	display:none;
}
.main .left h2:first-of-type{
	background:url(../images/sign_03.jpg) no-repeat 5% center;
	border-bottom:3px solid #fa9634;
}
.main .left h2:nth-of-type(2){
	background:url(../images/sign_06.jpg) no-repeat 5% center;
}
.main .left h2:nth-of-type(2):hover{
	background:url(../images/animation_03.jpg) no-repeat 5% center;
	border-bottom:3px solid #fa9634;
}
.main .left h2:nth-of-type(3){
	background:url(../images/sign_08.jpg) no-repeat 5% center;
}
.main .left h2:nth-of-type(3):hover{
	background:url(../images/date_03.jpg) no-repeat 5% center;
	border-bottom:3px solid #fa9634;
}
.main .left h2:nth-of-type(4){
	background:url(../images/sign_10.jpg) no-repeat 5% center;
}
.main .left h2:nth-of-type(4):hover{
	background:url(../images/PHP_07.jpg) no-repeat 5% center;
	border-bottom:3px solid #fa9634;
}
.main .left h2:nth-of-type(5){
	background:url(../images/sign_12.jpg) no-repeat 5% center;
}
.main .left h2:nth-of-type(5):hover{
	background:url(../images/H5_07.jpg) no-repeat 5% center;
	border-bottom:3px solid #fa9634;
}
.main .left h2:nth-of-type(6){
	background:url(../images/sign_14.jpg) no-repeat 5% center;
}
.main .left h2:nth-of-type(6):hover{
	background:url(../images/android_07.jpg) no-repeat 5% center;
	border-bottom:3px solid #fa9634;
}
.main .left h2:nth-of-type(7){
	background:url(../images/sign_18.jpg) no-repeat 5% center;
}
.main .left h2:nth-of-type(7):hover{
	background:url(../images/artist_08.jpg) no-repeat 5% center;
	border-bottom:3px solid #fa9634;
}
.main .left h2:nth-of-type(8){
	background:url(../images/sign_21.jpg) no-repeat 5% center;
}
.main .left h2:nth-of-type(8):hover{
	background:url(../images/student_07.jpg) no-repeat 5% center;
	border-bottom:3px solid #fa9634;
}
.main .left h2:nth-of-type(9){
	background:url(../images/sign_24.jpg) no-repeat 5% center;
}
.main .left h2:nth-of-type(9):hover{
	background:url(../images/colledge_10.jpg) no-repeat 5% center;
	border-bottom:3px solid #fa9634;
}
.main .right{
	margin-left:4.4%;
	width:63.4%;
	float:right;
}
.main .right h3:first-of-type{
	margin-top:0;
}
.main .right h3{
	height:18px;
	font-size:18px;
	margin-top:8px;
	color:#fa9634;
	font-family:"microsoft yahei";
}
.main .right p{
	margin-top:7px;
	line-height:29px;
	font-size:16px;
	font-weight:normal;
	font-family:"microsoft yahei";
}
.main .right img{
	width:100%;
	margin-top:23px;
	margin-bottom:17px;
}

/*footer开始*/
.wrap-footer .footer{
	padding:5% 4%;
	width:92%;
	margin:0 auto;
	background:#333333;
}
.wrap-footer ul li{
	float:left;
	width:60%;
	margin-bottom:3%;
}
.wrap-footer ul li:nth-of-type(2n){
	width:40%;
}
.wrap-footer ul li p{	
	font-size:1em;
	color:#eafefd;
	font-family:"microsoft yahei";
	height:30px;
	line-height:30px;
}

.menu-lesson,.menu-work,.menu-star,.menu-job{
	display:block;
}
#job-top,#job-bottom,#star-top,#star-bottom,#works-bottom,#works-top,
#lesson-bottom,#lesson-top{
	display:none;
}



