.wrap_header div{
	width:100%;
	background:#333333;
	margin:0 auto;
}
.wrap_header .header .menu-click,
.wrap_header .header .word,
.wrap_header .header .menu-total{
	display:none;
}
.wrap_header div .logo{
	width:23.5%;
	float:left;
	padding-left:1.5%;
	padding-top:1.1%;
}
.wrap_header div nav{
	width:74.2%;
	float:left;
}

.wrap_header div nav ul li{
	width:12.5%;
	float:left;
	height:80px;
	line-height:80px;
	text-align:center;
	
	transition:all .5s ease;
}
.wrap_header div ul li a{
	display:block;
	font-size:1em;
	color:#fefcff;
	font-family:"microsoft yahei";
}
.wrap_header div nav ul li:nth-of-type(1){
	width:10.4%;
}
.wrap_header .header nav ul li:nth-of-type(8){
	background:#5C5C5C;
}
/*header结束*/
/*.main开始*/
.container{
	padding:0 15px;
	margin:0 auto;
	margin-top:30px;
}
.container .main{
	width:100%;
	text-align:center;
	padding-bottom:50px;
}
.main h4{
	height:50px;
	line-height:50px;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	color:#fa9634;
	font-family:"microsoft yahei";
}
.main p{
	text-align:center;
}
.main p:nth-of-type(1){
	height:36px;
	line-height:36px;
	font-size:22px;
	font-weight:bold;
	font-family:"microsoft yahei";
}
.main p:nth-of-type(2){
	height:38px;
	line-height:38px;
}
.main p span{
	display:inline-block;
	margin-left:40px;
	font-size:22px;
	font-weight:bold;
	font-family:"microsoft yahei";
}
.main p span:nth-of-type(1){
	margin-left:0;
}
.main p:last-of-type{
	line-height:36px;
	font-size:16px;
}
.main img{
	margin-top:32px;
}
/*footer开始*/
.wrap-footer .footer{
	padding:5% 4%;
	width:92%;
	margin:0 auto;
	background:#333333;
}
.wrap-footer ul li{
	float:left;
	width:60%;
	margin-bottom:3%;
}
.wrap-footer ul li:nth-of-type(2n){
	width:40%;
}
.wrap-footer ul li p{	
	font-size:1em;
	color:#eafefd;
	font-family:"microsoft yahei";
	height:30px;
	line-height:30px;
}

.menu-lesson,.menu-work,.menu-star,.menu-job{
	display:block;
}
#job-top,#job-bottom,#star-top,#star-bottom,#works-bottom,#works-top,
#lesson-bottom,#lesson-top{
	display:none;
}



