
.wrap_header .header{
	width:100%;
	margin:0 auto;
	background:#333333;
	position:relative;
}
.wrap_header .header .logo{
	width:25.2%;
	float:left;
	padding:3.1% 0 1% 1.5%;
}
.wrap_header .header .logo img{
	width:100%;
}
.wrap_header .header nav,
.wrap_header .header .word{
	display:none;
}
.wrap_header .word{
	display:block;
	position:absolute;
	color:#fff;
	font-size:1em;
	top:35%;
	left:50%;
}
.wrap_header .header .menu-click{
	width:7%;
	position:absolute;
	top:15px;
	right:3%;
}
.wrap_header .header .menu-click img{
	width:100%;
}
.menu-total{
	width:100%;
	/*z-index:1000;*/
	float:right;
	position:relative;
}
.menu-total li{
	height:30px;
	line-height:30px;
	background:#5C5C5C;
	width:25%;
	float:left;
	text-align:center;
}
.menu-total li a{
	font-size:0.75em;
	color:#DCDCDC;
	font-family:"microsoft yahei";
}
.menu-total li a{
	font-size:0.75em;
	color:#DCDCDC;
	font-family:"microsoft yahei";
}
.wrap_header .menu-total li:nth-of-type(8) a{
	width:85%;
	display:inline-block;
	background:#85858D;
}
/*header结束*/

/*.main开始*/
/*.main开始*/
.container{
	padding:0 15px;
	margin:0 auto;
	margin-top:30px;
}
.container .main{
	width:100%;
	text-align:center;
	padding-bottom:50px;
}
.main h4{
	height:50px;
	line-height:50px;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	color:#fa9634;
	font-family:"microsoft yahei";
}
.main p{
	text-align:center;
}
.main p:nth-of-type(1){
	line-height:36px;
	font-size:18px;
	font-weight:bold;
	font-family:"microsoft yahei";
}
.main p:nth-of-type(2){
	line-height:38px;
}
.main p span{
	display:inline-block;
	text-align: center;
	margin-left:40px;
	font-size:18px;
	font-weight:bold;
	font-family:"microsoft yahei";
}
.main p span:nth-of-type(1){
	margin-left:0;
}
.main p:last-of-type{
	line-height:36px;
	font-size:16px;
}
.main img{
	width:100%;
	margin-top:32px;
}
/*footer开始*/
.wrap-footer .footer{
	padding:5% 4%;
	width:92%;
	margin:0 auto;
	background:#333333;
	padding-bottom:40px;
}
.wrap-footer ul li{
	width:80%;
	margin-bottom:3%;
	margin-left:20%;
}
.wrap-footer ul li:nth-of-type(4){
	width:100%;
	margin-left:0;
	text-align:center;
	margin-bottom:3%;
}
.wrap-footer ul li p{	
	font-size:1em;
	color:#eafefd;
	font-family:"microsoft yahei";
	height:30px;
	line-height:30px;
}






